/* CSS reset */
* {
  margin: 0;
  padding: 0; }

.navbar {
  background-color: #686765 !important; }

.navLogo {
  width: 180px; }

@media only screen and (min-width: 768px) {
  .navLogo {
    width: 200px; } }

.icon_footer {
  width: 30px; }

footer {
  background-color: #f8f9fa; }

.footer_text {
  font-weight: 700; }

.cardIndex {
  box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 6px; }

.cardServ {
  width: 18rem;
  height: 25rem; }

.cardMap {
  width: 95vw;
  height: 45vh; }

.locationMap {
  width: 90vw;
  height: 44vh; }

@media only screen and (min-width: 769px) {
  .cardMap {
    width: 70vw;
    height: 40vh; }
  .locationMap {
    width: 65vw; }
  .cardContact {
    width: 40vw; } }

.slideImg {
  width: 90vw; }

@media only screen and (min-width: 1200px) {
  .cardContact {
    width: 22vw; }
  .slideImg {
    width: 35vw; } }
